#player-icon {
  width: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%;
}

#game-screen {
  width: 80%;
  margin: auto;
  position: relative;
  height: 80vh;
  background: red;
}

#projectile {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.projectile {
  position: absolute;
  width: 6px;
  height: 12px;
  background-color: yellow;
  border-radius: 2px;
}
